body{
  margin:0;
  background:#0b132b;
  color:#fff;
  font-family:Arial;
}
.hidden{display:none}
.card{
  max-width:400px;
  margin:50px auto;
  padding:20px;
  background:#1c2541;
  border-radius:15px;
}
input,textarea{
  width:100%;
  margin:6px 0;
  padding:10px;
  border-radius:8px;
  border:none;
}
button{
  width:100%;
  padding:12px;
  margin-top:8px;
  background:#3a86ff;
  border:none;
  border-radius:10px;
  color:white;
  font-size:16px;
}
.page{padding:15px}
.tabbar{
  position:fixed;
  bottom:0;
  width:100%;
  display:flex;
  background:#1c2541;
}
.tabbar button{
  flex:1;
  background:none;
  font-size:22px;
}
.row{display:flex;gap:10px}
.story{
  width:60px;height:60px;
  border-radius:50%;
  border:3px solid orange;
}
.post{
  background:#1c2541;
  margin:10px 0;
  padding:10px;
  border-radius:10px;
}
